/*
Owner: Dana McKee
Date: 11/11/2020
From: https://www.w3schools.com/howto/howto_css_hero_image.asp, https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551, 
, https://www.w3schools.com/cssref/pr_font_font-family.asp, https://www.w3schools.com/cssref/css3_pr_text-shadow.asp, https://www.w3schools.com/css/css_margin.asp
*/

/* Set the body font CSS for the entire webpage [Dana McKee]*/
body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    height: 100%;
    margin: 0;
}

/* Set up the title block CSS with large image and offset to not underlay vertical nav bar [Dana McKee]*/
.titleblock {
    background-image: url("images/dalesbigtrip.jpg");
    background-size: cover;
    background-position-y: 26%;
    padding-bottom: 60px;
    height: 250px;
    margin-left:210px;
}

@media screen and (max-width: 600px) {
  .titleblock {
    margin-left:50px;
  }
}

/* Set up Header CSS, large font with shawdow to stand out on page [Dana McKee]*/
.titleheader {
    padding: 0px;
    text-align: center;
    font-size: 5vw;
    color: white;
    text-shadow: 0 0 5px #525252;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 5px;
}
/* END: TITLE BLOCK CSS [Dana McKee] */ 

/* START: SUBHEADER CSS [Dana McKee] */
/* Set up Subeader CSS underneath Header with background colour to blend in but be ablet o stand out on its own [Dana McKee]*/
.subheader {
    text-align: center;
    font-size: 1.75vw;
    text-shadow: 0 0 5px #ffffff;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-top: 0px;
    background-color: rgba(255, 255, 255, 0.274)
}
/* END: SUBHEADER CSS [Dana McKee] */  

/* START: FOOTER CSS [Dana McKee] */
/* Set up Footer text CSS [Dana McKee]*/
.footertext {
	font-style: italic;
	text-align: center;
	padding: 1px;
}

/* Set up Footer block CSS to be set to the bottom of the page and not underlay vertival side nav bar [Dana McKee]*/
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    letter-spacing: 0.11em;
    margin-top: 100px;
    background-color: rgb(190, 124, 76);
    padding: 4px 0 4px 0;
}

/*  ***End Owner: Dana McKee ***  */

/*
Owner: Eric McNeill
Date: 11/11/2020
From: https://www.w3schools.com/css/css3_borders.asp, https://stackoverflow.com/questions/20391156/multiple-lines-of-text-next-to-image-css-html (applying styling to elements within classes),
https://css-tricks.com/snippets/css/a-guide-to-flexbox (flexbox initial source), https://stackoverflow.com/questions/3802455/min-width-in-window-resizing (stopping elements from overlapping)
*/

/* Styling for h2 and h3 tags used in main content section (what is shared by both) */
h2, h3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* Unique styling for h2 tag in content section */
h2 {
	font-size: 30px;
    text-align: center;
    margin: 0 0 20px 0;
    background-color: #5ac47b;
    border-radius: 25px;
}

/* Unique styling for h3 tag in content section */
/* Are we using these?? DELETE IF NOT */
h3 {
    font-size: 23px;
}

h4 {
    font-size: 50px;
    text-align: center;
    padding: 4px 0 4px 0;
    margin-left:210px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #5ac47b;    
}

h5 {
	font-size: 30px;
    text-align: center;
    margin: 0 0 20px 220px;
    background-color: #5ac47b;
    border-radius: 25px;
}

/* Parent div of all others for "sections" of content */
.section {
	width: auto;
  margin: 20px 15px 20px 15px;
	border: 5px solid rgb(190, 124, 76);
	padding: 10px;
  border-radius: 25px;
}

/* Parent div of all others for "sections" of content */
.section2 {
	width: auto;
  margin: 20px 15px 20px 15px;
	padding: 10px;
  border-radius: 25px;
}


/* Styling images within section divs */
.section img {
	border-radius: 25px;
}

/* Styling for p tags within sections divs */
.section p {
	font-size: 20px;
}

/* Styling for images used throughout the main content section */
.bodyimage {
    width: 350px;
	margin-right: 20px;
}

.bodyimage2 {
    width: 10vw;
    margin-right: 20px;
}

.bodyimage3 {
    width: 30vw;
    margin-right: 20px;
    vertical-align: middle;
}

.bodyimage4 {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    vertical-align: middle;
}

/* Flex display to keep image and text contents nice and in-line with eachother */
.divided {
    display: flex;
    margin-bottom: 30px;
}
/*  ***End Owner: Eric McNeill ***  */

/*
Owner: Dale Langford
Date: 12/06/2020
From:
http://sgds-hive.com/#
https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp
https://www.w3schools.com/css/css_navbar_vertical.asp
https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp
https://stackoverflow.com/questions/55128005/how-to-hide-a-specific-div-element-when-we-reduce-the-zoom-size-of-a-browser
 */


/* for general side bar coverage */

.navBar {
	display: block;
	margin: 0px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 50px;
	height: 250px;
	width: 200px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #1a9641;
}


.logo {
	padding: 0px;
    align-content: center;
    width: 100%;
    height: auto;
}

.sidebar {
  height: 450px;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1a9641;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: rgb(238, 238, 41);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(145, 8, 8);
  color: rgb(230, 230, 12);
  border: none;
  align-content: center;
}

.openbtn:hover {
  background-color: rgb(80, 11, 11);
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  padding-left:85px;
}

@media screen and (max-width: 600px) {
  .logo {
    display: none
  }
}

@media screen and (max-width: 600px) {
  .navBar {
    width: 50px;
  }
}

@media screen and (max-width: 600px) {
  #main {
    padding:120px;
    padding-left: 10px;
  }
}

/*  *** End Owner: Dale Langford ***  */


/*
Owner: Dale Langford
Date: 11/11/2020
 */

/* CSS for contact us page */
.contact {
	width: auto;
    text-align: center;
    border: none;
    padding: none;
}

.officeH{
	font-style:bold;
	font-size:20px;
	color:#009999;
	margin-top: 5px;
	margin-bottom:0px;
}
.officeP{
    font-size:25px;
    margin: 5px;	
}

.Location {
    width: 35vw;
    position: center;
    margin-right: 20px;
  }

/* *** End Owner: Dale Langford *** */

/*
Owner: Dale Langford
Date: 12/06/2020
 */

/* CSS for About Us page */
.AboutUs {
  font-size: 20px;
  overflow: hidden;
}

/* *** End Owner: Dale Langford *** */