/*
Owner: Dana McKee
Date: 11/11/2020
From: https://www.w3schools.com/howto/howto_css_hero_image.asp, https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551, 
, https://www.w3schools.com/cssref/pr_font_font-family.asp, https://www.w3schools.com/cssref/css3_pr_text-shadow.asp, https://www.w3schools.com/css/css_margin.asp
*/

/* Set the body font CSS for the entire webpage [Dana McKee]*/
body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    height: 100%;
    margin: 0;
}

/* Set up the title block CSS with large image and offset to not underlay vertical nav bar [Dana McKee]*/
.titleblock {
    background-image: url("images/dalesbigtrip.jpg");
    background-size: cover;
    background-position-y: 26%;
    padding-bottom: 60px;
    height: 250px;
    margin-left:210px;
}

/* Set up Header CSS, large font with shawdow to stand out on page [Dana McKee]*/
.titleheader {
    padding: 0px;
    text-align: center;
    font-size: 5vw;
    color: white;
    text-shadow: 0 0 5px #525252;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 5px;
}
/* END: TITLE BLOCK CSS [Dana McKee] */ 

/* START: SUBHEADER CSS [Dana McKee] */
/* Set up Subeader CSS underneath Header with background colour to blend in but be ablet o stand out on its own [Dana McKee]*/
.subheader {
    text-align: center;
    font-size: 1.75vw;
    text-shadow: 0 0 5px #ffffff;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-top: 0px;
    background-color: rgba(255, 255, 255, 0.274)
}
/* END: SUBHEADER CSS [Dana McKee] */  

/* START: FOOTER CSS [Dana McKee] */
/* Set up Footer text CSS [Dana McKee]*/
.footertext {
	font-style: italic;
	text-align: center;
	padding: 1px;
}

/* Set up Footer block CSS to be set to the bottom of the page and not underlay vertival side nav bar [Dana McKee]*/
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    letter-spacing: 0.11em;
    margin-top: 100px;
    background-color: rgb(190, 124, 76);
    margin-left: 210px;
    padding: 4px 0 4px 0;
}

/*  ***End Owner: Dana McKee ***  */

/*
Owner: Eric McNeill
Date: 11/11/2020
From: https://www.w3schools.com/css/css3_borders.asp, https://stackoverflow.com/questions/20391156/multiple-lines-of-text-next-to-image-css-html (applying styling to elements within classes),
https://css-tricks.com/snippets/css/a-guide-to-flexbox (flexbox initial source), https://stackoverflow.com/questions/3802455/min-width-in-window-resizing (stopping elements from overlapping)
*/

/* Styling for h2 and h3 tags used in main content section (what is shared by both) */
h2, h3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* Unique styling for h2 tag in content section */
h2 {
	font-size: 30px;
    text-align: center;
    margin: 0 0 20px 0;
    background-color: #5ac47b;
    border-radius: 25px;
}

/* Unique styling for h3 tag in content section */
h3 {
    font-size: 23px;
}

h4 {
    font-size: 50px;
    text-align: center;
    padding: 4px 0 4px 0;
    margin-left:210px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #5ac47b;    
}

h5 {
	font-size: 30px;
    text-align: center;
    margin: 0 0 20px 220px;
    background-color: #5ac47b;
    border-radius: 25px;
}

/* Parent div of all others for "sections" of content */
.section {
	width: auto;
    margin: 20px 15px 20px 220px;
	border: 5px solid rgb(190, 124, 76);
	padding: 10px;
    border-radius: 25px;
    min-width: 500px;
}

/* Styling images within section divs */
.section img {
	border-radius: 25px;
}

/* Styling for p tags within sections divs */
.section p {
	font-size: 20px;
}

/* Styling for images used throughout the main content section */
.bodyimage {
    width: 350px;
	margin-right: 20px;
}

.bodyimage2 {
    width: 10vw;
    margin-right: 20px;
}

.bodyimage3 {
    width: 30vw;
    margin-right: 20px;
    vertical-align: middle;
}

.bodyimage4 {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    vertical-align: middle;
}

/* Flex display to keep image and text contents nice and in-line with eachother */
.divided {
    display: flex;
    margin-bottom: 30px;
}
/*  ***End Owner: Eric McNeill ***  */

/*
Owner: Dale Langford
Date: 11/11/2020
From:
http://sgds-hive.com/#
https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp
https://www.w3schools.com/css/css_navbar_vertical.asp
https://codepen.io/erikterwan/pen/EVzeRP
 */


.navBar {
	display: block;
	margin: 0px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 50px;
	height: 250px;
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #1a9641;
}


.logo {
	padding: 0px;
    align-content: center;
    width: 100%;
    height: auto;
}

/* 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: transparent;
}


li a {
  display: block;
  margin: 0;
  color: #000;
  padding:15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
  text-align: left;
}



li a.active {
  background-color:#d7191c90;
  border-radius: 3px;
  font-size: 17px;
  font-weight: bold;
  color:#f5d349;
}


li a:hover:not(.active) {
  background-color:#91cf60;
  border-radius: 3px;
  color: black;
  box-shadow:2px 2px #e0e0e050;
  font-weight: bold;
  font-size: 17px;
  margin:0;
  border: 0;
}
*/

#navBar
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#navBar a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menu a:active
{
  background-color:#d7191c90;
  border-radius: 3px;
  font-size: 17px;
  font-weight: bold;
  color:#c29e0f;
}

#menu a:hover:not(.active)
{
  color: tomato;
  font-weight: bold;
  font-size: 17px;  
}

#navBar input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  /* hide this */
  z-index: 2; 
  /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#navBar span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: center;
  background: #b4240a;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#navBar span:first-child
{
  transform-origin: 0% 0%;
}

#navBar span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#navBar input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #b4240a;
}

/*
 * But let's hide the middle one.
 */
#navBar input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#navBar input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -60px;
  padding-top: 100px;
  
  background:transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#navBar input:checked ~ ul
{
  transform: none;
}

/*********************************************************************/


/*  *** End Owner: Dale Langford ***  */





/*
Owner: Dale Langford
Date: 11/11/2020
 */

/* CSS for contact us page */
.contact {
	width: auto;
    text-align: center;
    border: none;
    padding: none;
}

.officeH{
	font-style:bold;
	font-size:20px;
	color:#009999;
	margin-top: 5px;
	margin-bottom:0px;
}
.officeP{
    font-size:25px;
    margin: 5px;	
}

.Location {
    width: 35vw;
    position: center;
    margin-right: 20px;
  }

/* *** End Owner: Dale Langford *** */